@charset "UTF-8";

body {
    background-color: dimgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    border: 10px;
    border-radius: 20px;
}

header {
    background-color: white;
    padding: 10px 20px 20px 20px;
    margin: 10px;
    border: 10px solid gray;



}

nav {
    background-color: rgb(93, 93, 93);
    padding: 3px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.355);



}

nav>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;

}

nav>a:hover {
    text-decoration: underline;

}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 0px;
    box-shadow: 4px 4px 9px 0px black;

}

article {
    background-color: lightgray;
    padding: 5px;



}

article>aside {
    background-color: rgb(114, 114, 114);

}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;

}

footer>p {
    margin: 0px;

}